.modal{
    width: 520px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 40px;
    text-align: start;
    position: absolute;
    /* margin: auto; */
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal h2{
    margin-bottom: 20px;
}

.modal form input{
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}