.container-profil {
    max-width: 1000px;
    text-align: start;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    margin-bottom: 20px;
  }

  section {
    margin-bottom: 30px;
  }

  label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0056b3;
  }

  /* .danger-zone {
    border-top: 1px solid #eee;
    padding-top: 20px;
  } */

  .btn-danger {
    background-color: #dc3545;
  }

  .btn-danger:hover {
    background-color: #b02a37;
  }

  .row-profil {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  .col-profil {
    flex: 1;
    min-width: 250px;
  }